<head>
    <link rel="stylesheet" href="/css/available_tickets.css">
</head>

<div class="title">
    <h2 >Available tickets</h2>
</div>
<div class="main">
    <div class="container">
        <ul class="tickets">
        </ul>
    </div>
</div>