<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home page</title>
</head>
<body>  
    <div class="front-pic">
      <img src="images/bus.jpg" alt="">
        <article class="nav">
              <nav>
                <div class="logo-img">
                  <img src="images/logo.png" alt="">
                </div>
                <ul>
                    <a href="/login" class="login"><li>Login</li></a>
                    <a href="/register" class="sign up"><li>Sign up</li></a>
                    <a href="#" class="About us"><li>About us</li></a>
                </ul>

              </nav>
        </article> 

        <div class="content">
          <div class="text_place">
            <p class="headline">Travel to your Jaw-Dropping</p>
            <p class="subhead">Destination with Dream Trip</p>
          </div>
          
          <div class="container">
            <a href="/book-ticket" id="button">Book your first ticket</a>
          </div>
        </div>
    </div>
</div>
</body>
</html>