<head>
    <style src="/css/profile.css"></style>
</head>    
    <div class="body">
        <div class="profile">
            <div class="zone">
                <img src="../image/image1.jpg" alt="">
                <h2 class="name">Suh Joy</h2>
                <i class="fa fa-pencil fa-fw"></i>
            </div>
            
            <p class="email">My@joy.com</p>
            <p class="idNumb">234kjkls2432</p>
            <p class="phnNumb">674504478</p>
        </div>
    </div>